<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS And JS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

</head>
<body>
  <style>
    .card-title{
      color: brown;
      font-family: 'Permanent Marker', cursive;
    }

    .card-text{
      font-family: 'Merriweather', serif;
    }

    .card-body{
      background-color: rgba(245, 245, 245, 0.671);
    }

    body{
      background-image: linear-gradient(to right,rgb(248, 252, 17),rgb(17, 236, 218));
    }

    .navbar{
      background-image: linear-gradient(to right,rgb(248, 252, 17),rgb(17, 236, 218));
    }

    .title{
      font-family: 'Metal Mania', cursive;
    }
  </style>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}"> <b class="blod_left title">The Blog</b> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="https://www.github.com"><b class="blod_left">GitHub</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.linkedin.com"><b class="blod_left">LinkedIn</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog:about_us' %}"><b class="blod_left">About Us</b></a>
        </li>
      </ul>
    </div>
    <ul class="nav navbar-nav navbar-right">
        
        {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="navbar-brand bigbrand"> <b class="bold_left">Welcome: {{user.username}}</b> </a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="{% url 'blog:new_post' %}"> <b class="bold_right">New Post</b> </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'draft' %}"><b class="bold_right">Drafts</b></a>
            </li>
      
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}"> <b class="bold_right">Log Out</b> </a>
            </li>
      
          {% else %}
            <li><a class="nav navbar-nav navbar-right" href="#"> <b class="bold_right">Log In</b> </a></li>
          {% endif %}
            
    </ul>
  </nav>
    <div class="container">
        {% block body_block %}

        {% endblock body_block %}
    </div>
    <footer class="py-3 bg-grey">
        <p class="m-0 text-dark text-center ">Copyright &copy; Prakhar</p>
    </footer>
</body>
</html>